<!-- Navbar -->
<div class="navbar navbar-expand-lg" style="background-color: blue">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home" style="color: white"
        >Loan Management System</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home" style="color: white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/applyloan" style="color: white"
              >Apply Loan</a
            >
          </li>
          
        </ul>
      </div>
    </div>
  </div>
  