<div style="background: linear-gradient(to right, #ff7e5f,bisque,aqua); padding: 150px;">
    <div class="container d-flex flex-column align-items-center justify-content-center border border-dark rounded shadow p-4 mt-5" style="width: 600px; height: 300px; background-color: aliceblue;">
        <div class="flex-grow-1 w-100 d-flex align-items-center justify-content-center">
          <!-- Empty content area -->
          <span class="text-muted"><i><b>Loan Management System</b></i></span>
        </div>
        <div class="d-flex justify-content-around w-100 mt-3">
          <button class="btn btn-outline-primary btn-lg rounded-pill" (click)="applyLoan()">Apply Loan</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
    View Loan Details
  </button>
 
  <!-- Modal -->
  <div class="modal fade modal-backdrop-back  " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="panForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="panid" class="form-label">PAN Number:</label>
              <input type="text" class="form-control" id="panid" formControlName="panid" placeholder="ABCDE1234F" required>
              <small class="form-text text-muted">Format: ABCDE1234F</small>
           
 
 
 
      <p class="error-msg" *ngIf="panid.touched && panid.invalid && panForm.controls['panid'].errors?.['required']"
      style="color: red;">*pan id is required</p>
    <p class="error-msg" *ngIf="panid.touched && panid.invalid && panForm.controls['panid'].errors?.['pattern']"
      style="color: red;">*pan id must contain 10 digits only.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">View Loan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>